<div class="tcLogoArea tcWideOnly" style="">
	compiler
</div>
<div class="tcMenu">
	<ul>
		<li class="tcMenuItem {% if page.id == 'home' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/">Home</a></li>
		<li class="tcMenuItem {% if page.id == 'overview' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/overview.html">Overview</a></li>
		<li class="tcMenuItem {% if page.id == 'schedule' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/schedule.html">Schedule</a></li>
		<li class="tcMenuItem {% if page.id == 'references' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/references.html">references</a></li>
	</ul>

</div>