<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8" xml:lang="utf-8">

	<head>
		<title>Schedule</title>
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<!--<link rel="stylesheet" href="style/base.css"  type="text/css" />-->

	</head>

	<body>

		<style>
			td {
				padding: 6px;
			}
			
			.theadcolor {
				text-align: center;
				background: #444444;
				color: #ffffff;
			}
			
			.lecturecolor {
				background: #ffffaa;
			}
			
			.datecolor {
				background: #eeeeee;
			}
			
			.duecolor {
				background: #ffaaaa;
			}
			
			.holidaycolor {
				background: #ccffcc;
			}
			
			.lec {}
			
			.holiday {
				background: #ccFFcc;
			}
			
			.special {
				background: #AAAAFF;
			}
			
			.important {
				background: #FFAAAA;
			}
			
			.read {
				color: #FF8800;
			}
			
			.lab {
				color: #008800;
			}
			
			.due {
				color: #FF0000;
			}
			
			.hw {
				color: #888800;
			}
			
			.quiz {
				color: #0000FF;
			}
			
			.date {
				color: #444444
			}
		</style>

		<table border="2" cellspacing="0" cellpadding="6" rules="all" frame="all" valign="top">
			<colgroup width="25%"></colgroup>
			<colgroup width="25%"></colgroup>
			<colgroup width="10%"></colgroup>
			<colgroup width="10%"></colgroup>
			<colgroup width="10%"></colgroup>
			<colgroup width="10%"></colgroup>
			<colgroup width="10%"></colgroup>
			<tbody>
				<tr>
					<td class="theadcolor"><b>Monday</b></td>
					<td class="theadcolor"><b>Tuesday</b></td>
					<td class="theadcolor"><b>Wednesday</b></td>
					<td class="theadcolor"><b>Thursday</b></td>
					<td class="theadcolor"><b>Friday</b></td>
					<td class="theadcolor"><b>Saturday</b></td>
					<td class="theadcolor"><b>Sunday</b></td>
				</tr>
				<tr valign="top">
					<!-- week 1 -->
					<td class="lecturecolor">
						nov 17<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="resource/test.txt">Overview</a> &
						<a href="resource/overview.ppt">Lexical Analysis: part I</a>
						<font class="read"><b>READ</b></font>: Tiger chap. 1, chap. 2<br>

						<font class="hw"><b>HW</b></font>:
						<a href="###">hw 0</a>
						&
						<a href="###">hw 1</a><br>
						<font class="lab"><b>LAB</b></font>:
						<a target="_top" href="###">Lab 1: Lexer and Parser</a>
					</td>
					<td class="lecturecolor">
						nov 18<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="###">LL(k) Parsing</a>
						and
						<a href="###">LR(k) Parsing</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 3<br>
						<font class="hw"><b>HW</b></font>:
						<a href="###">hw 2</a>
					</td>
					<td class="datecolor">
						nov 19
					</td>
					<td class="datecolor">
						nov 20
					</td>
					<td class="datecolor">
						nov 21
					</td>
					<td class="datecolor">
						nov 20
					</td>
					<td class="datecolor">
						nov 21
					</td>
				</tr>

				<tr valign="top">
					<!-- week 2 -->
					<td class="lecturecolor">
						nov 24<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/ast.ppt">Abstract Syntax Tree</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 4<br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-ast.html">hw 3</a><br>
						<font class="lab"><b>LAB</b></font>:
						<a target="_top" href="labs/lab2/index.html">Lab 2: Abstract Syntax Tree and Elaborator</a>
					</td>
					<td class="lecturecolor">
						nov 25<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/elab.ppt">Elaboration</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 5 & paper:
						<a href="readings/typing.pdf">Type system</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-elab.html">hw 4</a>
					</td>
					<td class="duecolor">
						nov 26<br><br>
						<font class="due"><b>DUE</b></font>: Lab 1 due
					</td>
					<td class="datecolor">
						nov 27
					</td>
					<td class="datecolor">
						nov 28
					</td>
					<td class="datecolor">
						nov 27
					</td>
					<td class="datecolor">
						nov 28
					</td>
				</tr>

				<tr valign="top">
					<!-- week 3 -->
					<td class="lecturecolor">
						dec 1<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/memory-layout.ppt">Memory Layout</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 6<br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-mem.html">hw 5</a><br>
					</td>
					<td class="lecturecolor">
						dec 2<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/code-gen.ppt">Code Generation</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 9</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-codegen.html">hw 6</a>
					</td>
					<td class="datecolor">
						dec 3
					</td>
					<td class="datecolor">
						dec 4
					</td>
					<td class="datecolor">
						dec 5
					</td>
					<td class="datecolor">
						dec 4
					</td>
					<td class="datecolor">
						dec 5
					</td>
				</tr>

				<tr valign="top">
					<!-- week 3 -->
					<td class="lecturecolor">
						dec 8<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/oo.ppt">Object-Oriented languages</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 14, chap. 16 & paper:
						<a href="readings/interface.pdf">
							Java Interfaces</a> (
						<a href="slides/interface.txt">notes</a>)<br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-oo.html">hw 7</a><br>
						<font class="lab"><b>LAB</b></font>:
						<a target="_top" href="labs/lab3/index.html">Lab 3: Code Generators</a>

					</td>
					<td class="lecturecolor">
						dec 9<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/gc.ppt">Garbage Collection</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 13 & paper:
						<a href="readings/Wilson-GC.pdf">Uniprocessor GC</a>
						& paper:
						<a href="readings/gc-support.pdf">gc support</a>
						& paper:
						<a href="http://www.oracle.com/technetwork/java/javase/tech/memorymanagement-whitepaper-1-150020.pdf">
							GC in HotSpot JVM</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-gc.html">hw 8</a>
					</td>
					<td class="duecolor">
						dec 10<br><br>
						<font class="due"><b>DUE</b></font>: Lab 2 due
					</td>
					<td class="datecolor">
						dec 11
					</td>
					<td class="datecolor">
						dec 12
					</td>
					<td class="datecolor">
						dec 11
					</td>
					<td class="datecolor">
						dec 12
					</td>
				</tr>

				<tr valign="top">
					<!-- week 7 -->
					<td class="duecolor">
						dec 15<br><br>
						<b>Midterm quiz</b> (open books, open notes, no electronic devices)
					</td>
					<td class="lecturecolor">
						dec 16<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/exception.ppt">Exceptions</a>,
						<a href="slides/closure.ppt">Closure</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 15 & paper:
						<a href="readings/exception-handling.pdf">Exceptions</a>
						& paper:
						<a href="readings/subroutine.pdf">Subroutine</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-exception.html">hw 9</a>,
						<a href="hw/hw-closure.html">hw 10</a>
					</td>
					<td class="datecolor">
						dec 17<br><br>
					</td>
					<td class="datecolor">
						dec 18

					</td>
					<td class="datecolor">
						dec 19
					</td>
					<td class="datecolor">
						dec 18

					</td>
					<td class="datecolor">
						dec 19
					</td>
				</tr>

				<tr valign="top">
					<!-- week 7 -->
					<td class="lecturecolor">
						dec 22<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/control-flow.ppt">Control-flow Analysis</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 18<br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-control-flow.html">hw 11</a><br>
						<font class="lab"><b>LAB</b></font>:
						<a target="_top" href="labs/lab4/index.html">Lab 4: Garbage Collector</a>
					</td>
					<td class="lecturecolor">
						dec 23<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/data-flow.ppt">Data-flow Analysis</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 17<br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-dataflow.html">hw 12</a>
					</td>
					<td class="duecolor">
						dec 24<br><br>
						<font class="due"><b>DUE</b></font>: Lab 3 due

					</td>
					<td class="datecolor">
						dec 25
					</td>
					<td class="datecolor">
						dec 26
					</td>
					<td class="datecolor">
						dec 25
					</td>
					<td class="datecolor">
						dec 26
					</td>
				</tr>

				<tr valign="top">
					<!-- week 7 -->
					<td class="lecturecolor">
						dec 29<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/optimization.ppt">Optimization</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 17<br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-optimization.html">hw 13</a><br>
						<font class="lab"><b>LAB</b></font>:
						<a target="_top" href="labs/lab5/index.html">Lab 5: Optimizations</a>
					</td>
					<td class="lecturecolor">
						dec 30<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/ssa.ppt">SSA</a> and
						<a href="slides/ssa-opt.ppt">SSA optimizations</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 19 & paper:
						<a href="readings/ssa-toplas91.pdf">SSA</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-ssa.html">hw 14</a>
					</td>
					<td class="datecolor">
						dec 31<br><br>
					</td>
					<td class="holidaycolor">
						jan 1<br><br> New year's day
					</td>
					<td class="holidaycolor">
						jan 2<br><br> New year's day
					</td>
					<td class="holidaycolor">
						jan 1<br><br> New year's day
					</td>
					<td class="holidaycolor">
						jan 2<br><br> New year's day
					</td>
				</tr>

				<tr valign="top">
					<!-- week 11 -->
					<td class="lecturecolor">
						jan 5<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/ra-graph-color.ppt">Register allocation: graph coloring</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 11, & paper
						<a href="readings/graph-color-chaitin.pdf">Chaitin's</a>, & paper
						<a href="readings/graph-color-briggs.pdf">Briggs'</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-ra-graph-color.html">hw 16</a><br>

					</td>
					<td class="lecturecolor">
						jan 6<br><br>
						<font class="lec"><b>LEC</b></font>:
						<a href="slides/value-number.ppt">Value Numbering</a><br>
						<font class="read"><b>READ</b></font>: Tiger chap. 17, & paper:
						<a href="http://www.cs.washington.edu/education/courses/cse501/04wi/papers/alpern-popl88.pdf">Alpern</a>, & paper:
						<a href="http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=B0F51270C962982284A610DAC00CC644?doi=10.1.1.36.8877&rep=rep1&type=pdf">Briggs</a><br>
						<font class="hw"><b>HW</b></font>:
						<a href="hw/hw-vn.html">hw 17</a><br>

					</td>
					<td class="duecolor">
						jan 7<br><br>
						<font class="due"><b>DUE</b></font>: Lab 4 due
					</td>
					<td class="datecolor">
						jan 8
					</td>
					<td class="datecolor">
						jan 9
					</td>
					<td class="datecolor">
						jan 8
					</td>
					<td class="datecolor">
						jan 9
					</td>
				</tr>

				<tr valign="top">
					<!-- week 12 -->
					<td class="holidaycolor">
						jan 12<br><br> Hacking day
					</td>
					<td class="holidaycolor">
						jan 13<br><br> Hacking day
					</td>
					<td class="datecolor">
						jan 14
					</td>
					<td class="datecolor">
						jan 15
					</td>
					<td class="duecolor">
						jan 16<br><br>
						<font class="due"><b>DUE</b></font>: Lab 5 due
					</td>
					<td class="datecolor">
						jan 15
					</td>
					<td class="duecolor">
						jan 16<br><br>
						<font class="due"><b>DUE</b></font>: Lab 5 due
					</td>
				</tr>

				<tr valign="top">
					<!-- week 12 -->
					<td class="duecolor">
						jan 19<br><br>
						<b>Final quiz</b>: <br>
						<b>Time:</b> 2:30--4:30<br>
						<b>Place:</b> 202 of Sixian Building<br>
						<b>open books, open notes, no electronic devices</b><br>
						<b>Scope:</b> from midterm to last lecture
					</td>
					<td class="datecolor">
						jan 20
					</td>
					<td class="datecolor">
						jan 21<br><br>

					</td>
					<td class="datecolor">
						jan 22
					</td>
					<td class="datecolor">
						jan 23
					</td>
					<td class="datecolor">
						jan 22
					</td>
					<td class="datecolor">
						jan 23
					</td>
				</tr>

			</tbody>
		</table>

		<!--</div>
</body>
</html>-->